@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<hr class="mt-2 mb-3"/>
<Counter/>
<hr class="mt-2 mb-3"/>
<Counter/>
<hr class="mt-2 mb-3"/>
<MyComponent/>

<SurveyPrompt Title="How is Blazor working for you?"/>