
@page "/MyComponent"
@inherits MyComponentBase

<h3>MyComponent</h3>
<p>This is my first Blazor componet!</p>
<p>Random number: @Number</p>
<button class="btn btn-dark" @onclick="ButonClickMethod">Random Int Generator</button>